[user]
HEAD
	email = genyoungclip@gmail.com
	name = koagonzalo11

	name = Koagonzalo11
	email = azehagowa@gmail.com
[push]
	autoSetupRemote = true
[advice]
	addEmbeddedRepo = false
[http]
	cookiefile = /data/data/com.termux/files/home/.gitcookies
[safe]
	directory = /storage/emulated/0/Download
origin/ipfs-deploy
[credential]
	helper = store
