[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
	serverId = 1329fe99-51e4-4aa6-932e-66851d0ca942
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = u0_a276
	javaHome = /data/data/com.termux/files/usr/lib/jvm/java-21-openjdk
[index]
	type = lucene
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
	smtpServerPort = 0
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[accountPatchReviewDb]
[accountPatchReviewDb]
  url = jdbc:postgresql://localhost:5432/gerrit_review_flags?user=gerrit_user&password=Slaytune11$
  poolLimit = 10
  url = jdbc:postgresql://localhost:5432/gerrit_review_flags?user=gerrit_user&password=Slaytune11$
  poolLimit = 10
