[remote "github"]
  url = git@github.com:koagonzalo11/ELP-GONZALO.git
  push = +refs/heads/*:refs/heads/*
  push = +refs/tags/*:refs/tags/*
  mirror = true
  replicateOnStartup = true
  replicateOnRefUpdate = true[remote "github"]
  url = git@github.com:elparadiso/ELP-GONZALO.git
  push = +refs/heads/*:refs/heads/*
  mirror = true
  authGroup = Administrators
